body {
    overflow-x: hidden;
  }
  app-sidebar {
    position: fixed;
    left: 0;
    height: calc(100vh - 55px);
    width: 240px;
    max-width: 240px;
    background: rgb(26, 24, 23);
    z-index: 12;
  }
  .main {
    position: absolute;
    top: 55px;
    left: 240px;
    width: calc(100% - 240px);
    padding-bottom: 20px;
  }
  span.side-menu {
    display: block !important;
  }
  @media (max-width: 576px){
    span.side-menu {
      display: none !important;
    }
    app-sidebar {
      width: 65px;
      overflow: hidden;
    }
    .main {
      left: 65px;
      width: calc(100% - 65px);
      padding-right: 0px;
    }
  }
  