.container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .dropdown-item {
    color: white;
  }
  .dropdown-item:hover {
    color: black;
  }
  .dropdown-divider {
      margin: 0;
      border-top: 1px solid rgb(48, 48, 48);
  }
  .trans {
    margin-left: 25px;
    width: calc(100% - 25px);
  }
  
  span.side-menu {
    display: inline !important;
  }
  @media (max-width: 576px){
    span.side-menu {
      display: none !important;
    }
  }
  