@font-face {
    font-family: 'omneslight';
    src: url('fonts/Omnes-Light.eot');
    src: url('fonts/Omnes-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/Omnes-Light.woff2') format('woff2'),
         url('fonts/Omnes-Light.woff') format('woff'),
         url('fonts/Omnes-Light.ttf') format('truetype'),
         url('fonts/Omnes-Light.svg#omneslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'omneslight_italic';
    src: url('fonts/omnes-lightitalic.eot');
    src: url('fonts/omnes-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/omnes-lightitalic.woff2') format('woff2'),
         url('fonts/omnes-lightitalic.woff') format('woff'),
         url('fonts/omnes-lightitalic.ttf') format('truetype'),
         url('fonts/omnes-lightitalic.svg#omneslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'omnesmedium';
    src: url('fonts/Omnes-Medium.eot');
    src: url('fonts/Omnes-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/Omnes-Medium.woff2') format('woff2'),
         url('fonts/Omnes-Medium.woff') format('woff'),
         url('fonts/Omnes-Medium.ttf') format('truetype'),
         url('fonts/Omnes-Medium.svg#omnesmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'omnesmedium_italic';
    src: url('fonts/omnes-mediumitalic.eot');
    src: url('fonts/omnes-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/omnes-mediumitalic.woff2') format('woff2'),
         url('fonts/omnes-mediumitalic.woff') format('woff'),
         url('fonts/omnes-mediumitalic.ttf') format('truetype'),
         url('fonts/omnes-mediumitalic.svg#omnesmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'omnes_regularregular';
    src: url('fonts/Omnes-Regular.eot');
    src: url('fonts/Omnes-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Omnes-Regular.woff2') format('woff2'),
         url('fonts/Omnes-Regular.woff') format('woff'),
         url('fonts/Omnes-Regular.ttf') format('truetype'),
         url('fonts/Omnes-Regular.svg#omnes_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'omnesregular_italic';
    src: url('fonts/omnes-regularitalic.eot');
    src: url('fonts/omnes-regularitalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/omnes-regularitalic.woff2') format('woff2'),
         url('fonts/omnes-regularitalic.woff') format('woff'),
         url('fonts/omnes-regularitalic.ttf') format('truetype'),
         url('fonts/omnes-regularitalic.svg#omnesregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
