<div class="row breadcrumb-fixed">
  <div class="col-sm-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a href="#/home">Home</a></li>
    </ol>
  </div>
</div>
<div class="row col-sm-12 content">
<div class="card border-light col-sm-12" >
    <div class="card-header"><h2>Dashboard</h2></div>
    <div class="card-body">
        <div class="row row-stat">
          <div class="col-md-4">
              <div class="panel panel-success-alt noborder">
                  <div class="panel-heading noborder">
                      <div class="panel-btns" style="display: none;">
                          <a href="" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                      </div>
                      <div class="panel-icon"><i class="img"><img src="../../assets/images/peso.svg"/></i></div>
                      <div class="media-body">
                          <h5 class="md-title nomargin">Current Funds</h5>
                          <h1 class="mt5">{{ Dashboard.currentfunds | number : '1.2-2' }}</h1>
                      </div>
                      <hr>
                      <div class="clearfix mt20">
                          <div class="pull-left">
                              <h5 class="md-title nomargin">Added Funds</h5>
                              <h4 class="nomargin">{{ Dashboard.addedfunds | number : '1.2-2' }}</h4>
                          </div>
                          <div class="pull-right">
                              <h5 class="md-title nomargin">Expenses</h5>
                              <h4 class="nomargin">{{ Dashboard.withdrawnfunds | number : '1.2-2' }}</h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="panel panel-warning-alt noborder">
                  <div class="panel-heading noborder">
                      <div class="panel-btns" style="display: none;">
                          <a href="" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                      </div>
                      <div class="panel-icon"><i class="img"><img src="../../assets/images/peso.svg"/></i></div>
                      <div class="media-body">
                          <h5 class="md-title nomargin">Today's Pledge</h5>
                          <h1 class="mt5">{{ 12 | number : '1.2-2' }}</h1>
                      </div>
                      <hr>
                      <div class="clearfix mt20">
                          <div class="pull-left">
                              <h5 class="md-title nomargin">Yesterday</h5>
                              <h4 class="nomargin">{{ 12 | number : '1.2-2' }}</h4>
                          </div>
                          <div class="pull-right">
                              <h5 class="md-title nomargin">This Week</h5>
                              <h4 class="nomargin">{{ 12 | number : '1.2-2' }}</h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="panel panel-info-alt noborder">
                  <div class="panel-heading noborder">
                      <div class="panel-btns" style="display: none;">
                          <a href="" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                      </div>
                      <div class="panel-icon"><i class="img"><img src="./../../assets/images/peso.svg"/></i></div>
                      <div class="media-body">
                          <h5 class="md-title nomargin">Today's Redeem</h5>
                          <h1 class="mt5">{{ 12 | number : '1.2-2' }}</h1>
                      </div>
                      <hr>
                      <div class="clearfix mt20">
                          <div class="pull-left">
                              <h5 class="md-title nomargin">Yesterday</h5>
                              <h4 class="nomargin">{{ 12 | number : '1.2-2' }}</h4>
                          </div>
                          <div class="pull-right">
                              <h5 class="md-title nomargin">This Week</h5>
                              <h4 class="nomargin">{{ 12 | number : '1.2-2' }}</h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <hr/>
        <div class="row row-stat">
            <div class="col-md-4">
                <div class="panel panel-repossess-alt noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-btns" style="display: none;">
                            <a href="" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                        </div>
                        <div class="panel-icon"><i class="img"><img src="./../../assets/images/peso.svg" /></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Today's Repossess</h5>
                            <h1 class="mt5">{{ 12 | number : '1.2-2' }}</h1>
                        </div>
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-left">
                                <h5 class="md-title nomargin">Yesterday</h5>
                                <h4 class="nomargin">{{ 12 | number : '1.2-2' }}</h4>
                            </div>
                            <div class="pull-right">
                                <h5 class="md-title nomargin">This Week</h5>
                                <h4 class="nomargin">{{ 12 | number : '1.2-2' }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-sold-alt noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-btns" style="display: none;">
                            <a href="" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                        </div>
                        <div class="panel-icon"><i class="img"><img src="./../../assets/images/peso.svg" /></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Today's Sold</h5>
                            <h1 class="mt5">{{ 12 | number : '1.2-2' }}</h1>
                        </div>
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-left">
                                <h5 class="md-title nomargin">Yesterday</h5>
                                <h4 class="nomargin">{{ 12 | number : '1.2-2' }}</h4>
                            </div>
                            <div class="pull-right">
                                <h5 class="md-title nomargin">This Week</h5>
                                <h4 class="nomargin">{{ 12 | number : '1.2-2' }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-danger-alt noborder">
                    <div class="panel-heading noborder">
                        <div class="panel-btns" style="display: none;">
                            <a href="" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                        </div>
                        <div class="panel-icon"><i class="fa fa-users"></i></div>
                        <div class="media-body">
                            <h5 class="md-title nomargin">Today's Customer</h5>
                            <h1 class="mt5">{{ 12 }}</h1>
                        </div>
                        <hr>
                        <div class="clearfix mt20">
                            <div class="pull-left">
                                <h5 class="md-title nomargin">Yesterday</h5>
                                <h4 class="nomargin">{{ 12 }}</h4>
                            </div>
                            <div class="pull-right">
                                <h5 class="md-title nomargin">This Week</h5>
                                <h4 class="nomargin">{{ 12 }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
