
<div class="row breadcrumb-fixed">
  <div class="col-sm-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active"><a href="#/addfund">Add Fund</a></li>
      <li class="breadcrumb-item active"><a href="#/withdrawfund">Withdraw Fund</a></li>
    </ol>
  </div>
</div>
<div class="row col-sm-12 content">
<div class="card border-light col-sm-12" >
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary search-nav">
        <div class="collapse navbar-collapse search">
          <form class="form-inline my-2 my-lg-0">
            Search Type:&nbsp;
              <select class="form-control"  [(ngModel)]="term" name="term" id="term">
                <option [ngValue]="undefined" selected>View All</option>
                <option value="dateadded">Date</option>
                <option value="amount">Amount</option>
                <option value="type">Type</option>
                <option value="pawnticket">Pawn Ticket</option>
                <option value="remarks">Description / Remarks</option>
              </select>&nbsp;&nbsp;
              <input class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]="searchee" name="searchee" id="searchee">
              &nbsp;&nbsp;&nbsp;&nbsp;
              Order by:&nbsp;
              <select class="form-control"  [(ngModel)]="sortBy" name="sortBy" id="sortBy" (change)="reverse=reverse">
                <option [ngValue]="undefined" selected>Sort</option>
                <option value="dateadded">Date</option>
                <option value="amount">Amount</option>
                <option value="type">Type</option>
                <option value="pawnticket">Pawn Ticket</option>
                <option value="remarks">Description / Remarks</option>
              </select>&nbsp;&nbsp;
              <a href="javascript:void(0);" (click)="reverse=!reverse;sortBy=sortBy;" style="font-size: 25px;color:antiquewhite;">
                <i class="fa fa-sort"></i>
              </a>
          </form>
        </div>
    </nav>
    <div class="card-header"><h2>Cash Flow</h2></div>
      <div class="card-body">
        <div class="row">             
            <a href="javascript:void(0);" (click)="print()" style="position: absolute; right: 30px; font-size: 25px;">
              <i class="fa fa-print"></i>
            </a>
          </div> <br/><br/>
        <table class="table table-hover table-stripe" id="collections">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col" class="right">Amount</th>
                <th scope="col">Type</th>
                <th scope="col">Pawn Ticket</th>
                <th scope="col">Description / Remarks</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fund of Funds | orderBy:sortBy:reverse | searchfilter: term : searchee">
                  <td>{{ fund.dateadded | date:'yyyy-MM-dd' }}</td>
                  <td class="right">{{ fund.amount | number: '1.2-2' }}</td>
                  <td>{{ fund.type }}</td>
                  <td>{{ fund.pawnticket }}</td>
                  <td>{{ fund.remarks }}</td>
                </tr>
            </tbody>  
        </table> 
    </div>
</div>
</div>
